{% extends 'base.html' %}
{% load static %}
{% block title %}Add Student - edFinance{% endblock %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'studentsManager/css/editStudentInfo.css' %}" />{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Edit Student</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a class="btn btn-primary" href="{% url 'students' %}">Cancel</a>
                        <a class="btn btn-danger" href="{% url 'deleteStudentInfo' student.id_no %}">Delete</a>
                        {% if student.student_fees == False %}
                            <a class="btn btn-warning" href="{% url 'addFees' student.id_no %}">Add Fees</a>
                        {% else %}
                            <a class="btn btn-warning" href="{% url 'feeDetails' student.id_no %}">Fees Details</a>
                        {% endif %}
                        <input class="btn btn-success text-white" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}