{% extends 'base.html' %}
{% block title %}Upload Student List - edFinance{% endblock %}
{% block additional_css %}
<style>
    body{
        background-color: #343a40;
color: white;
    }
</style>
{% endblock %}
{% block content %}
    <h1>Upload Excel File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'students' %}" class="btn btn-primary">Go Back</a>
        <button class="btn btn-success" type="submit">Upload</button>
    </form>
{% endblock %}
