{% extends 'base.html' %}
{% load static %}
{% block title %}Login - edFinance{% endblock %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'usersAuth/css/logStyles.css' %}">{% endblock %}
{% block content %}
<div class="loginUserForm">
    <div class="login-form">
        <h2 class="text-center">Login</h2>
        {% if error %}
            <p style="color: #f39c12; font-family: sans-serif;">{{ error }}</p>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
{% endblock %}