{% extends 'base.html' %}
{% load static %}
{% block title %}Register -edFinance{% endblock %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'usersAuth/css/registerStyles.css' %}">{% endblock %}
{% block content %}
<div class="registerUserForm">
    <div class="register-form">
        <h2 class="text-center">Register</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ register_form.as_p }}
            <span class="text-center">Already a User? <a style="color: #f39c12;text-decoration: underline;" href="{% url 'loginUser' %}">Login Now</a> </span>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
{% endblock %}