{% extends 'base.html' %}
{% load static %}
{% block title %}Students - edFinance{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'studentsManager/css/students_list.css' %}" />
{% endblock %}
{% block content %}
<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10">
      <div class="card text-white bg-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Fees</h5>
          <a class="btn btn-success btn-sm" href="{% url 'addStudent' %}">Add Student</a>
          <span>Total Students: {{ totalStudents }}</span>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="filterSelect">Filter By</label>
            </div>
            <select class="custom-select" id="filterSelect">
              <option selected>Choose...</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="list-group">
            {% for student in students %}
            <a href="{% url 'feeDetails' student.id_no %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-primary text-white">
              <b>{{ student.student_name }}</b>
              <button class="btn btn-warning btn-sm">Fees</button>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
