{% extends 'base.html' %} {% load static %} {% block title %}Fee Details -
edFinance{% endblock %} {% block additional_css %}
<link rel="stylesheet" href="{% static 'billsManager/css/feeDetails.css' %}" />
{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>Van Fees Info</h3>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="card-body">
            <span >Student Name: <b>{{ student.student_name }}</b> </span><br/>
            <span >Total Fees: <b>{{ totalFees }}</b> </span><br/>
            <span >Fees Paid: <b>{{ feePaid }}</b> </span><br/>
            <span >Fees Pending: <b>{{ feePending }}</b> </span><br/>
          <a class="btn btn-primary" href="{% url 'students' %}">Cancel</a>
          <a class="btn btn-success" href="{% url 'editStudentInfo' student.id_no %}">About Student</a>
          <a class="btn btn-warning" href="{% url 'billingVanDetails' student.id_no %}">Bill</a>
          <a class="btn btn-warning" href="{% url 'feeDetails' student.id_no %}">View Fees Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>Previous Transactions</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="thead">
              <tr class="bg-primary">
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for reports in transReports %}
              <tr style="background-color: #f39c12;">
                <th scope="row"><b>{{ reports.paid }}</b></th>
                <td><b>{{ reports.typeFees }}</b></td>
                <td><b>{{ reports.last_Paid }}</b></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
            
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
